@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;800&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #212121;
}

.formatting {
  margin: 50px;
}

.first-letter {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: 50px;
  color: #F0E9D2;
}

i, p, s {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #F0E9D2;
}

img {
  width: 100%;
  border-radius: 12px;
}